#plot-container {

  position: relative;

}

#loading-spinner {

  position: absolute;

  left: 50%;

  top: 50%;

  z-index: -1;

  margin-top: -100px;  /* half of the spinner's height */

  margin-left: -100px; /* half of the spinner's width */

}

#plot.recalculating {

  z-index: -2;

}